Package: guicurses
Version: 0.5-1
Section: python
Priority: optional
Architecture: all
Maintainer: MKSpeech <support@mkspeech.com>
Homepage: https://github.com/raspberrypi-accesible/guicurses
#Package: python3-guicurses
#Architecture: all
Description:  A set of utilities for building applications using ncurses and python
